---
---

@import "normalize";
@import "bourbon/bourbon";
$max-width: 900px;
$min-width: auto;
@import "neat/neat";

$dark:#313131;
$light:#7DBABD;

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

body {
  font-family: "Merriweather";
  background-color: $dark;
  color: #F8F1E8;
}

body.daytime {
  background-color: $light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic";
  text-align: center;
  color: #B83234;
}

h1 {
  font-size: 5em;
  text-align: left
}

h2 {
  font-size: 3.25em;
}

a {
  color: #2BA6E0;
}

.panel {
  min-height: 100vh;
  position: relative;
  @include outer-container();
}


.screen {
  @include box-sizing(border-box);
  padding: 2em 1em;
}

#empire-state-building-svg{
  display: none;
}

#building {
  // background-image: url('../empire.svg');
  // background-repeat: no-repeat;
  // background-size: 600px auto;
  // background-position: 0px top;
}

#paper-canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#top {
  @include span-columns(6);
  @include shift(4);
  @include omega();

  &.screen {
    padding: 5em 0;
  }
}

#panel-2 {
  background: lighten($dark,20%);

  .daytime & {
    background: adjust-hue($light, 20deg);
  }
}