---
---

@import "normalize";
@import "bourbon/bourbon";
$max-width: 900px;
$min-width: auto;
@import "neat/neat";

$dark:#313131;
$light:#7DBABD;
$blue: #2BA6E0;

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

body {
  font-family: 'Archer A', 'Archer B';
  font-weight: 500;
  background-color: $dark;
  color: #F8F1E8;
  font-size: 18px;
  line-height: 27px;
}

pre, code {
  font-family: Inconsolata, monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #B83234;
  font-weight: 800;
  line-height: 1em;
}

h1 {
  font-size: 5em;
  text-align: left;
  line-height: 1em;

  @include media($mobile) {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

h2 {
  font-size: 3.25em;
}

h4 {
  font-size: 1.5em;
  margin: 1em 0;
}

a {
  color: $blue;
}

ol, ul {
  padding-left: 20px;
}

.daytime-disclaimer {
  display: none;
}

body.daytime {
  background-color: $light;
  color: #fafafa;

  a {
    color: #0091DA;
  }

  .daytime-disclaimer {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: darken($light,10%);
    background-color: #D1CF9A;
    font-style: italic;
  }
}

.panel {
  min-height: 100vh;
  position: relative;
  @include outer-container();
  @include media($mobile) {
    width: 95%;
    min-height: 700px;
  }
}

.screen {
  @include box-sizing(border-box);
  padding-top: 2em;
  padding-bottom: 2em;
}

#empire-state-building-svg {
  display: none;
}

#paper-canvas {
  width: 100%;
  left: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#top {
  @include span-columns(7);
  @include shift(5);
  @include omega();

  &.screen {
    padding: 5em 0 0;
  }

  .short-description {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);

    &.screen {
      padding-top: 0;
    }
  }
}

#building, #panel-2, #panel-3 {
  border-bottom: 2px solid lighten($dark,20%);

  .daytime & {
    border-bottom: 2px solid darken($light,20%);
  }
}

#instructions {
  img {
    display: block;
    position: relative;
    margin: 1em auto;
    max-width: 90%;
    max-height: 700px;
  }
}