<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Empire</title>
  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/snap.svg.js" type="text/javascript"></script>
  <script src="js/lodash.underscore.min.js" type="text/javascript"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="js/empire.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/empire.css"/>
</head>
<body>
  <div id="wrapper">
    <h1>EMPIRE</h1>

    <div id="building">
      <div id="spire">
        <div id="spire-inside"></div>
      </div>

      <div id="tier-three">
        <svg id="observation-deck"></svg>
      </div>

      <div id="tier-two"></div>

      <div id="base"></div>
    </div>

    <div id="content">
      {{content}}
    </div>
  </div>

</body>
</html>